@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ExpensesInfo</h1>
    <p>
        <a class="btn btn-primary" asp-action="Expenses">View expenses</a>
        <a class="btn btn-success" asp-action="CreateEditExpense">Add expense</a>
    </p>
</div>
