@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ExpensesInfo</h1>
    <p>
        <a class="btn btn-primary" asp-action="Expenses">View expenses</a>
        <a class="btn btn-success" asp-action="CreateEditExpense">Add expense</a>
    </p>
</div>
<div class="container mt-4" style="width:50%">
    <h2 class="mb-3">Calculator</h2>
    <partial name="_Calculator" />
</div>

