@using ExpensesInfo.Models
@model List<ExpenseType>

@{
    ViewData["Title"] = "Expense Types";
}

<h1>Expense Types</h1>

<p>
    <a class="btn btn-success" asp-action="CreateEdit">Add new expense type</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Expense Type Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var t in Model)
        {
            <tr>
                <td>@t.Id</td>
                <td>@t.Name</td>
                <td>
                    <a class="btn btn-primary" asp-action="CreateEdit" asp-route-id="@t.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@t.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>